/* 컨테이너 스타일 */
.postListContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 게시판 스타일 */
.container {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

@media (max-width: 1000px) {
  .postListContainer {
    max-width: 1000px;
    padding: 0;
    box-shadow: none;
    min-width: 300px !important;
  }

  .container {
    width: 100%;
    min-width: 300px !important;
  }

  .searchAndWrite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
  }

  .searchAndWrite .search {
    display: flex;
    justify-content: center !important;
  }

  .searchAndWrite .write {
    margin-top: 10px;
    justify-content: center !important;
  }
}

.header,
.row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.header {
  position: sticky;
  top: 60px;
  background-color: #2c3539;
  color: white;
  font-weight: bold;
}

.left,
.right,
.title {
  padding: 3px;
  text-align: center;
  white-space: nowrap;
}

.title {
  flex: 5;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title a {
  color: black;
  text-decoration: none;
}

.title a:visited {
  color: gray;
}

.left {
  flex: 0.5;
}

.right {
  flex: 1;
}

.comment_count {
  color: #2c3539;
  font-weight: bold;
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

/* 페이지네이션 버튼 스타일 */
.pagination {
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #eee;
}

.pagination button:disabled {
  cursor: default;
  color: white;
  background-color: #2c3539;
}

/* 게시글 검색과 글쓰기로 가는 버튼 */
.searchAndWrite {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.searchAndWrite .search {
  display: flex;
  flex: 1;
}

.searchAndWrite .search select,
.categories .sort select {
  box-sizing: border-box;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  background-color: #2c3539;
  color: white;
  border: 0;
  border-radius: 8px;
  appearance: none;
}

.searchAndWrite .search input {
  box-sizing: border-box;
  height: 30px;
  padding: 0 16px;
  margin: 0 14px;
  background-color: #2c3539;
  color: white;
  border: 0;
  border-radius: 8px;
}

.searchAndWrite .search button {
  box-sizing: border-box;
  height: 30px;
  padding: 0 20px;
  margin: 0;
  background-color: #2c3539;
  color: white;
  border: 0;
  border-radius: 8px;
}

.searchAndWrite .write {
  display: flex;
  justify-content: flex-end;
}

.searchAndWrite .write a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 20px;
  background-color: #2c3539;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
