.postContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

@media (max-width: 1000px) {
  .postContainer {
    padding: 0;
    box-shadow: none;
    min-width: 300px !important;
    overflow: hidden;
  }

  .container {
    width: calc(100% - 20px);
    margin: 10px;

  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.author,
.date,
.category,
.views {
  margin: 10px;
}

.author {
  font-weight: bold;
}

.content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.likeAndEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.likeAndEdit button {
  padding: 10px;
  border-radius: 10px;
  background-color: #2c3539;
  color: white;
  border: none;
  cursor: pointer;
}

.likeAndEdit button:hover {
  background-color: #0e1112;
}

.comment {
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
}

.date {
  color: #777;
}

.edited {
  color: #ff5722;
  font-style: italic;
}

.content {
  font-size: 16px;
  margin-left: 10px;
}

.likeAndReplyButton {
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reply {
  margin-left: 50px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}

.toggleReplies {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.replies {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.commentInput {
  display: flex;
}

.commentInput .commentInputForm {
  display: flex;
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
}

.commentInput .commentInputInput {
  display: flex;
  flex: 0.9;
  resize: none;
  border-radius: 0px;
}

.commentInput textarea {
  flex: 1;
  width: 100%;
  height: 60px;
  padding: 10px;
  resize: none;
  background-color: transparent;
  border: 0;
  outline: none;
}

.commentInput .commentInputButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #ddd;
  min-width: 100px;
}

.commentInput .commentInputButton:hover {
  background-color: #ccc;
}