/* src/components/WritePost.module.css */
.postForm {
  width: 1000px;
  margin: auto;
  margin-bottom: 23px;
  font-family: Arial, sans-serif;
}

.postForm form {
  display: flex;
  flex-direction: column;
}

.postForm div {
  margin-bottom: 15px;
}

.postForm label {
  display: block;
  margin-bottom: 5px;
}

.postForm input {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.postForm select {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
}

.postForm button {
  padding: 10px;
  border-radius: 10px;
  background-color: #2c3539;
  color: white;
  border: none;
  cursor: pointer;
}

.postForm button:hover {
  background-color: #0e1112;
}
